header {
    gap: 0 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    color: #333;
    
    #headerMainContentContainer {
        padding: 1rem 1rem;
        display: flex;
        align-items: center;
        
        @include respondTo(md) {
            padding: 0;
        }
        
        #logoContainer {
            margin-right: auto;
            
            @include respondTo(md) {
                margin-left: 2rem;
            }

            img {
                width: 42px;
                height: 42px;
                object-fit: cover;
                display: block;
            }
        }
        
        #navbar {
            display: none;
            
            @include respondTo(md) {
                display: flex;
                margin-left: auto;

                @include respondTo(md) {
                    margin-right: 2rem;
                }
            }

            .link {
                display: flex;
                margin: 1rem 0.5rem;
                background-color: #0671C4;
                border-bottom: solid 2px black;
                border-right: solid 2px black;
                padding: 0.25rem;
                border-radius: 100%;

                @include respondTo(md) {
                    width: 32px;
                }
                
                .linkIcons {
                    width: 24px;
                    padding: 0;
                    margin: 0;

                    @include respondTo(md) {
                        width: 32px;
                    }
                }
            }
        }
    
        #burgerMenuOpenerContainer {
            text-align: right;

            @include respondTo(md) {
                display: none;
            }
    
            .burgerMenuImgContainer {
                img {
                    width: 32px;

                    @include respondTo(md) {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
    
            #menuBurgerCloserContainer {
                display: none;
            }
        }

    }

    #burgerMenu {
        display: none;
        font-size: 0.85rem;
        
        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem 0;
            align-items: center;
            justify-content: right;
            
            li {
                text-align: right;
                padding: 0 1rem 1rem 0;
                width: 100%;
                border-bottom: solid rgba(0, 0, 0, 0.1) 1px;

                a {
                    text-decoration: none;
                    color: #333;
                    transition: 0.3s;

                    @include respondTo(md) {
                        &:hover {
                            color: #0671C4;
                            cursor: pointer;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }

        #contactIconsContainer {
            display: flex;
            justify-content: right;
            align-items: center;
            margin: 0 auto;

            .externLink {
                display: flex;
                margin: 1rem 0.5rem;
                background-color: #0671C4;
                border-bottom: solid 2px black;
                border-right: solid 2px black;
                padding: 0.25rem;
                border-radius: 100%;

                @include respondTo(md) {
                    width: 32px;
                }
                
                .externLinkIcons {
                    width: 24px;
                    padding: 0;
                    margin: 0;

                    @include respondTo(md) {
                        width: 32px;
                    }
                }
            }
        }
    }
}